@import "tailwindcss";

:root {
  font-family: "IBM Plex Mono";
  --theme-color: #333232;
}

.baseFont {
  font-size: 16px;
  letter-spacing: 1px;
}

.extraBold {
  font-family: Rubik One;
}

.heading {
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-family: Rubik One;
}

.siteButton {
  background-color: #4f6744;
  border-radius: 8px;
  padding: 3% 7%;
  width: fit-content;
  margin: auto;
  cursor: pointer;
  font-family: Rubik One;
}
